@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {max-height: 1000000px;}
body {
    margin:0;
    height:100%;
    min-width:320px;
    font: Arial, Helvetica, sans-serif;
    font:15px/20px;
    overflow-y: scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:none;
}
body {
    overflow-x: hidden;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
img {border-style:none;
width: 100%;
height: auto;
}
a {
    text-decoration:none;
    outline:none;
}
a:hover{text-decoration:none;}
input,
textarea,
select {
    font:100% Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#000;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}
form, fieldset {
    margin:0;
    padding:0;
    border-style:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding:0;
    border:0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="search"] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration {display:none;}
q {quotes: none;}
q:before,
q:after {
    content: '';
    content: none;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.bidbox {
    position: relative;
    overflow: hidden;
    border: 1px solid #d8252b;
    padding: 25px 15px;
    border-radius: 10px;
    margin: 0 0 30px;
    text-align: center;
}
.bidbox .bids {
    width: 150px;
    background:#d8252b;
    border-radius: 10px;
    position: relative;
    top: auto;
    right: auto;
    color:#fff;
    margin: 0 auto 25px;
}
.bidbox .bids h2 {
    padding: 25px 0 4px;
}
.bidbox  strong {
    font-size: 19px;
}
.bidbox  strong span{
    color: #d8252b;
}
#wrapper {
    position: relative;
    overflow: hidden;
}
#header {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}
#logo {
    width: 169px;
    float: left;
    margin: 0 0 20px 75px;
}
.signLang {
    position: relative;
    overflow: hidden;
    float: right;
    margin: 9px  75px 0 0;
}
.signLang ul{
    list-style: none;
    font-size: 16px;
    padding: 0;
    color: #d8252b;
    margin: 0;
}
.signLang ul li{
    display: inline-block;
    padding: 6px;
    text-align: center;
}
.signLang ul li a{
    color: #d8252b;
    display: inline-block;
}
.signLang ul li:last-child{
    border: 1px solid #d8252b;
    border-radius: 4px;
    width: 100px;
    margin: 0 auto;
    display: block;
}
.signLang ul li a label {
    margin: 0 14px 0 0;
}
.mainmenu {
    position: relative;
    overflow: hidden;
    border: 2px solid #d8252b;
    display: block;
    width: 100%;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.mainmenu  ul{
    padding: 0  ;
    margin: 0;
    list-style: none;
}
.mainmenu  ul li{
    display: inline-block;
    border-right:1px solid #d8252b;
    padding: 5px 25px;
    width: 19.5%;
    text-align: center;
}
.mainmenu  ul li:last-child{
    border-right:none;
}
.mainmenu  ul li a{
    text-decoration: none;
    color: #3a3e47;
}
.mainmenu  ul li.active a{
    color: #be2334;
}
h1 {
    background: #bd2334;
    color:#fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    font-size: 28px;
    font-weight: bold;
}
.formaraa {
    position: relative;
    overflow: hidden;
    width: 50%;
    margin: 85px auto 100px;
}
.formBack {
    position: relative;
    background: #bd2334;
    padding: 20px;
    color:#fff;
    border-radius: 5px;
}
.formaraa h2 {
    margin: 8px 0 15px;
    text-align: center;
}
.formaraa .form-group {
    margin-bottom: 15px;
    background: #fff;
    border-radius: 5px;
}
.formaraa .form-group {
    margin-bottom: 15px;
    background:  #fff;
    border-radius: 5px;
    padding: 7px 14px;
    position: relative;
    overflow: hidden;
}
.formaraa .form-group label {
    float: left;
    color: #bd2334;
    width: 150px;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    line-height: 31px;
}
.formaraa .form-group .form-control {
    border: none;
    box-shadow: none;
    float: right;
    width: 70%;
    background: transparent;
    margin: 0px 0 -3px;
    font-size: 16px;
}
.formaraa .checkbox {
    width: 64%;
    font-size: 16px;
    margin: 20px auto;
    color: #bd2334;
}
.formaraa .checkbox a{
    color: #393f47;
}
.formaraa .btn-default {
    color: #bd2334;
    background-color:#fff;
    border-color:#393f47;
    display: block;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
}
#footer {
    position: relative;
    overflow: hidden;
}
.links {
    width: 68%;
    font-size: 16px;
    margin: 0 auto;
}
.links h3{
    color: #393f47;
    text-transform: uppercase;
}
.links a{
    color: #393f47;
}
.links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.links ul li{
    display: block;
    margin: 0 0 6px;
}
.footerBottom {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #bd2334;
    margin: 0 auto 10px;
    padding: 15px;
    width: 96%;
}
.footerBottom .contact {
    background: #393f47;
    display: block;
    border-radius: 5px;
    width: 200px;
    padding: 11px;
    margin: -44px auto 0;
    color:#fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.links .col-md-4.col-sm-4 {
    padding-left: 56px;
}
.footerBottom img{
    width: 130px;
}
.copyrights {
    color: #393f47;
    padding: 1px 30px;
    margin: 0 0 30px;
}
.copyrights p {
    float: left;
}
.copyrights span {
    float: right;
}
.copyrights span a {
    color: #d8252b;
}
.formBook {
    background: #fff;
    display: block;
    padding: 11px;
    text-align: center;
    border-radius: 5px;
    color:#bd2334;
    font-size: 16px;
    margin: 0 0 20px;
}
.or {
    border-bottom: 2px solid #d78a92;
    margin: 0 0 34px;
}
.or span {
    background: #fff;
    color: #000;
    padding: 3px 10px;
    margin: 0 auto -13px;
    display: block;
    width: 40px;
    text-align: center;
}
.login .form-control {
    width: 100% !important;
}
.login .btn-default {
    width: 100%;
    padding: 10px;
}
.forgot {
    font-size: 16px;
    text-align: center;
    display: block;
    color:  #fff;
    margin: 8px auto;
    width: 200px;
}
.login p {
    color:#3a3e47;
    text-align: center;
    margin: 25px 0 0;
    font-size: 16px;
}
.login p span {
    color: #d8252b;
    display: block;
}
.login ::placeholder {
  color: #d8252b;
  opacity: 1; /* Firefox */
}

.login :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #d8252b;
}

.login ::-ms-input-placeholder { /* Microsoft Edge */
 color: #d8252b;
}
.navigation {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 0 70px;
}
.navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
    border: 1px solid #393f47;
    min-width: 44px;
    padding: 6px;
    border-radius: 7px;
    font-size: 16px;
}
.navigation ul li.navPrev {
    display: none !important;
    background: #393f47;
}
.navigation ul li.navPrev a{
    color: #fff;
}
.navigation ul li.navNext {
    background: #393f47;
}
.navigation ul li.navNext a{
    color: #fff;
}
.navigation ul li.active {
    background: #393f47;
}
.navigation ul li.active a{
    color: #fff;
}
.navigation ul li a{
    color: #393f47;
}
.navigation ul li:hover {
    background : #393f47;
    transition: all 0.5s ease 0s;
}
.navigation ul li:hover a{
    color: #fff;
}
.banner {
    background: #c02030;
    padding: 0;
    margin:0 0 32px;
}
.banner .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.banner .owl-carousel .owl-nav button.owl-next{
    float: right;
}
.banner .owl-carousel .owl-nav button.owl-prev{
    float: left;
}
.banner .owl-next span {
    width: 31px;
    text-align: center;
    background: #f7f7f7;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #c02030;
    float: right;
}
.banner .owl-prev span {
    width: 31px;
    text-align: center;
    background:#f7f7f7;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #c02030;
}
.banner .owl-dots {
    display: none;
}
.searchSelect {
    position: relative;
    overflow: hidden;
    margin: 0 0 30px;
}
.searchSelect :root {
  --radius: 2px;
  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
}

.searchSelect .theme-pink {
  --radius: 2em;
  --baseFg: #c70062;
  --baseBg: #ffe3f1;
  --accentFg: #c70062;
  --accentBg: #ffaad4;
}

.searchSelect .theme-construction {
  --radius: 0;
  --baseFg: white;
  --baseBg: black;
  --accentFg: black;
  --accentBg: orange;
}
.searchSelect select {
  font: 400 12px/1.3 sans-serif;
    line-height: 1.3;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid #393f47;
    line-height: 1;
    outline: 0;
    padding: 10px;
    border-radius: 5px;
    background-image: url('../images/img4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 250px;
    float: left;   
}
.search {
    background: #393f47;
    border: 1px solid #393f47;
    float: right;
    width: 46%;
    border-radius: 5px;
}
.search input {
    width: 75%;
    padding: 10px 13px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}
.search input[type="button"] {
    position: absolute;
    right: 0;
    width: 126px;
    background: #393f47;
    color:#fff;
}
.productBox {
    background:#393f47;
    border: 1px solid #393f47;
    border-radius: 5px;
    margin: 0 0 30px;
    text-align: center;
    color:#fff;
    font-size: 16px;
}
.productBack {
    background:#fff;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 5px;
    color: #393f47;
}
.products {
    position: relative;
    overflow: hidden;
    margin: 0 0 40px;
}
.sidebar {
    border: 1px solid #bd2334;
    border-radius: 5px;
    padding:  3px 15px;
    margin: 32px 0;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.sidebar ul li {
    display: block;
    border-bottom: 1px solid #bd2334;
    padding: 6px 8px;
}
.sidebar ul li:last-child{
    border-bottom: none;
}
.sidebar ul li:hover a,
.sidebar ul li.active a{
    color: #bd2334;
    transition: all 0.5s ease 0s;
}
.sidebar ul li a{
    color: #3a3e46;
}
.details {
    color: #fff;
    font-size: 16px;
    background: #bd2334;
    border-radius: 5px;
    padding: 3px 45px 30px;
    margin: 32px 0 75px 0;
}
.details h2 {
    margin-left: -19px;
}
.details h3 {
    font-size: 22px;
}
.details a {
    background: #fff;
    color:#bd2334;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    width: 300px;
    margin: 17px 0 0;
}
.details img {
    margin: 13px 0 30px;
}
.tipbox {
    position: relative;
    overflow: hidden;
    margin: 0 0 30px;
}
.tipImg {
    width: 112px !important;
    overflow: hidden;
    float: left;
    margin: 1px 36px 0 0;
}
.tipImg a {
    width: 100%;
    background:transparent;
    padding: 0;
    margin: 0;
}
.tipImg img {
    width: 100% !important;
    padding: 0 !important;
    margin: 0;
    border-radius: 50%;
}
.formaraa.in-details {
    position: relative;
    overflow: hidden;
    width: 85%;
    margin: 37px auto;
}
.formaraa.in-details .formBack {
    background: #fff;
    padding: 20px 50px;
    color:#3a3e46;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.formaraa.in-details .form-group label {
    color: #3a3e46;
}
.formaraa.in-details .form-group .form-control {
    width: 65%;
    border: 1px solid #3a3e46;
}
.formaraa.in-details .checkbox a {
    color: #393f47;
    display: inline;
    padding: 0;
}
.formaraa.in-details strong {
    border-bottom: 1px solid #ccc;
    display: block;
    font-weight: normal;
    margin: 0 0 15px 0;
}
.formaraa.in-details .form-group a {
    display: block;
    padding: 0;
    width: 100% !important;
    margin: 42px 0 -9px 2px;
    text-decoration: underline;
}
.formaraa.in-details .checkbox {
    width: 65%;
    font-size: 16px;
    margin: 0 40px 0 0;
    color: #bd2334;
    float: right;
}
.formaraa.in-details hr {
    display: block;
    width: 100%;
    float: left;
}
.formaraa.in-details .btn-default {
    color: #fff;
    background-color:#393f47;
    border-color:#393f47;
    display: block;
    width: 150px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    float: none;
}
.formaraa.in-details h2 {
    margin: 8px 0 15px !important;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0 0 4px;
}
.formaraa.in-details ::placeholder {
  color: #d8252b;
  opacity: 1; /* Firefox */
}

.formaraa.in-details :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #d8252b;
}

.formaraa.in-details ::-ms-input-placeholder { /* Microsoft Edge */
 color: #d8252b;
}
.productSide h3 {
    color:  #393f47;
    font-size: 30px;
    width: 68%;
}
.productSide {
    position: relative;
    overflow: auto;
    color:  #393f47;
}
.productSide p {
    color:  #393f47;
    font-size: 16px;
}
.product-slider #carousel {
    border-radius: 4px;
    margin: 20px 0;
}
.product-slider #thumbcarousel { margin:12px 0 20px; padding: 0 ; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb {
    border-radius: 4px;
    width: 33%;
    margin: 0;
    float: left; 
    cursor: pointer;
}
.product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }

.product-slider .item img { width: 100%; height: auto; }

.carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }

.product-table {
    position: relative;
    overflow: hidden;
    color: #fff;
    background:#be2334;
    border-radius: 4px;
}
.product-table th,.product-table td {
    border: none !important;
}
.product-table p{
    color:#fff;
    margin: 20px 8px 10px;
}
.finalPro p span {
    float: right;
}
.member {
    position: relative;
    overflow: hidden;
    margin: 15px;
}
.memberImg {
    float: left;
}
.memberImg img {
    width: 60px;
}
.memberImg p {
    margin: 5px 0 0;
}
.memberdetail {
    text-align: right;
}
.memberdetail p {
    margin: 10px 0 0 0;
}
.finalPro hr {
    width: 84%;
    margin: 5px auto;
}
.finalPro .table-responsive {
    text-align: center;
}
.finalPro .table > tbody > tr > td{
    padding: 5px;
}
.finalPro h1 {
    font-size: 40px;
    margin: -10px 0 10px;
}
.finalPro .span {
    text-align: center;
    display: block;
    font-size: 14px;
    width: 80%;
    margin: 0 auto 10px;
}
.buyNow {
    width: 90%;
    border: 1px solid #fff;
    margin: 0 auto 20px;
    padding: 20px 15px;
    border-radius: 4px;
    text-align: center;
}
.buyNow strong {
    display: block;
    font-size: 14px;
    margin: 0 0 17px;
}
.buyButton {
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    display: block;
    color:#be2334;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    border: none;
}
.productdisc {
    position: relative;
    overflow: hidden; 
    margin: 20px 0;
    font-size: 16px;
}
.productdisc strong{
    display: block;
    margin: 15px 0;
}
.span4.vp {
    font-size: 150%;
    margin: 10px 0 30px;
}
.span4.vp .fa.fa-check {
    font-size: 41px;
    color: #d8252b;
}
.span4.vp a {
    color: #393f47;
}
.vedio {
    box-shadow: #d8252b -1px 2px 16px -5px;
    border-radius: 18px 18px 0 0;
    margin: 64px 0 0;
    position: relative;
}
.bids {
    width: 150px;
    background: #d8252b;
    border-radius: 10px;
    position: absolute;
    top: -43px;
    right: 40px;
    color: #fff;
}
.bids h2 {
    text-align: center;
    font-size: 49px;
    font-weight: bold;
    margin: 15px;
}
.bids label:before {
    content: attr(data-offer-bid-price) '12Â¢ Bids!';
    color: #fff;
    text-shadow: 0 0 2px #000,0 0 2px #000;
    font-size: 15px;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 59px;
    height: 59px;
    padding-top: 9px;
    background: url('../images/bidpack-badge-green.png') 0 0 no-repeat;
    background-size: auto;
    background-size: contain;
    text-align: center;
}
.bids label {
    position: absolute;
    top: -23px;
    right: -17px;
}
.bids strong {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    background: #393f47;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.vedio h3 {
    font-size: 31.5px;
    padding: 21px 20px 5px;
    position: relative;
    font-weight: bold;
    color: #be2334;
}
.vedio p {
    color: #393f47;
    font-size: 16px;
    margin: -12px 20px 20px;
}
.player {
    max-width: 100% !important;
    height: 300px !important;
}
.paymentSection .formaraa {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 23px auto;
}
.paymentSection {
    position: relative;
    overflow: hidden;
    border-top: none;
}
.paymentSection .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.paymentSection .nav-tabs > li a{
    
}
.paymentSection .tab-content {
    border: 1px solid #be2334;
    border-top: none;
    padding: 20px 0 0;
}
.paymentSection .nav-tabs {
    border-bottom: none;
}
.paymentSection .nav-tabs > li.active > a,
.paymentSection .nav-tabs > li.active > a:hover,
.paymentSection .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color:#393f47;
    border: 1px solid #bd2334;
    border-bottom-color: #bd2334;
    border-bottom-color:transparent;
    cursor: default;
}
.paymentSection .nav > li > a{
    color: #393f47;
}
.paymentSection .nav-tabs > li > a{
    border-bottom: 1px solid #bd2334;
}
.paymentSection .nav > li > a, .nav > li > a {
    text-decoration: none;
    background-color: #eee;
}
.capcha {
    width: 300px;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
}
.paymentSection .login .btn-default {
    width: 66%;
    padding: 10px;
    margin: 15px auto;
}
.paypal a {
    display: block;
    background: #be2334;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
.paypal {
    padding: 50px;
}
.paypal a .fa{
    margin:     0 10px 0 0;
}
.creditSection {
    margin-bottom: 50px;
}
/* for responsive */
@media only screen and (max-width: 1199px){
    .formaraa.in-details {
        width: 100%;
    }
    .formaraa.in-details .formBack{padding: 20px;}
    .span4.vp {
        font-size: 134%;
    }
}
@media only screen and (max-width: 1023px){
    .vedio{
        margin: 64px 0;
    }
    .product-page .col-md-6.col-sm-12 {
        margin: 0 0 15px;
    }
    .product-page .productBox {
        width: 46%;
        float: left;
        margin: 0 6px 10px;
    }
    .formaraa.in-details .form-group .form-control {
        width: 51%;
    }
    .mainmenu ul li {
        padding: 5px 7px;
        width: 19%;
    }
    
    .banner .owl-theme .owl-nav{
        display: block !important;
    }
    .banner .owl-prev span{
        margin: 0;
    }
    .banner .owl-next span{
        margin: 0;
    }
    .links .col-md-4.col-sm-4 {
        padding-left: 0;
    }
    .footerBottom .contact {
        margin: -46px 0 0;
        float: right;
    }
}
@media only screen and (max-width: 767px){
    .paymentSection .nav-tabs > li{
        font-size: 17px;
    }
    .capcha {
        width: 100%;
    }
    .vedio h3 {
        padding: 121px 20px 5px;
    }
    .paymentSection .login .btn-default {
        width: 100%;
        padding: 10px;
        margin: 15px auto;
        font-size: 15px;
    }
    .productSide h3 {
        font-size: 24px;
        width: 100%;
    }
    .product-page .productBox {
        width: 100%;
        float: none;
        margin: 10px auto;
    }
    .product-page .table-responsive{
        border: none;
    }
    #logo {
        width: 169px;
        float: none;
        margin: 0 auto;
    }
    .signLang {
        float: none;
        margin: 0 auto 15px;
        text-align: center;
    }
    .navbar-toggle.collapsed,.navbar-toggle {
        margin: 0;
    }
    .mainmenu{padding: 0 5PX;}
    .mainmenu ul li {
        width: 100%;
        border-bottom: 1px solid#d8252b;
        border-right: none;
    }
    .mainmenu ul li:last-child {
        border-bottom: none;
    }
    .banner .owl-theme .owl-nav {
        display: block !important;
        top: 26%;
    }
    .searchSelect select {
        width: 100%;
        float: none;
        margin: 0 0 28px;
    }
    .search {
        float: none;
        width: 100%;
    }
    .search input {
        width: 69%;
    }
    .navigation ul li {
        margin: 0 0 10px;
    }
    .links {
        width: 90%;
    }
    .links .col-md-4.col-sm-4 {
        padding-left: 15px;
    }
    .app {
        width: 100%;
        text-align: center;
    }
    .footerBottom .contact {
        margin: 10px auto;
        float: none;
    }
    .footerBottom{
        text-align: center;
    }
    .copyrights p,.copyrights span,.copyrights {
        float: none;
        text-align: center;
    }
    .formaraa{
        width: 95%;
        margin: 43px auto 70px;
    }
    .formaraa h2 {
        font-size: 24px;
    }
    .formaraa .form-group .form-control{width: 67%;}
    .formaraa .form-group label{
        width: 68px;
    }
    .formaraa .checkbox {
        width: 100%;
    }
    .tipImg {
        float: none;
        margin: 0 auto;
    }
    .tipbox {
        text-align: center;
    }
    .details a {
        padding: 10px 3px;
        display: block;
        width: 100%;
        margin: 17px 0 0;
        font-size: 12px;
    }
    .details{
        padding: 3px 23px 30px;
    }
    .formaraa.in-details .form-group label {
        display: block;
        width: auto;
    }
    .formaraa.in-details .form-group .form-control {
        width: 100%;
    }
    .formaraa.in-details .checkbox {
        width: 100%;
        font-size: 16px;
        margin: 0;
        float: none;
    }
}